
/* karaoke player - from howler example */
div.karaokePlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  div.top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    gap: 4px;
    background-color: rgb(30, 56, 38);
      border: 1px solid #a33dd3;
    div.track {
      width: 100%;
      text-align: center;
      /* font-size: 34px; */
      opacity: 0.9;
      font-weight: 300;
      color: #74df1c;
      background-color: #000000;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
      border: 1px solid #064404;
    }
    div.times {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
      gap: 8px;
      border: 1px solid #507AAF;
      color: #74df1c;
      font: 'menu';
    }
    div.volumeArea {
      border: 1px solid #507AAF;
      color: #74df1c;
      font: 'menu';
    }
    /* Target Input */
    .volumeInput {
      appearance: none;
      -webkit-appearance: none;
      /* width: 100%; */
      background: transparent;
      cursor: pointer;
    }

    /* --- Webkit Browsers --- */
    .volumeInput::-webkit-slider-runnable-track {
      height: 10px;
      background: #ffbb00;
      border-radius: 0px;
      border: 2px solid #000000;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    }

    .volumeInput::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 15px;
      width: 15px;
      background: #b36b6b;
      border-radius: 1px;
      border: 2px solid #5e3131;
      box-shadow: 0px 4px 15px rgba(135, 107, 28, 0.8);
      margin-top: -4.5px;
    }

    /* --- Firefox --- */
    .volumeInput::-moz-range-track {
      height: 10px;
      background: #ffbb00;
      border-radius: 0px;
      border: 2px solid #000000;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    }

    .volumeInput::-moz-range-thumb {
      height: 15px;
      width: 15px;
      background: #b36b6b;
      border-radius: 1px;
      border: 2px solid #5e3131;
      box-shadow: 0px 4px 15px rgba(135, 107, 28, 0.8);
    }

    /* https://www.cssportal.com/style-input-range/ */
    input.seek {
      width: -webkit-fill-available;
      appearance: none;
      -webkit-appearance: none;
      background: transparent;
      cursor: pointer;
    }
    .seek::-webkit-slider-runnable-track {
      height: 15px;
      background: linear-gradient(to right, #0ac59f var(--range-pct, 0%), #23a11d var(--range-pct, 0%));
      border-radius: 5px;
      border: 1px solid #8dc6e6;
      box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    }
    .seek::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 19px;
      width: 19px;
      background: #dbe8f0;
      border-radius: 5px;
      border: 3px solid #72d5b2;
      box-shadow: 0px 4px 8px rgba(155, 84, 69, 0.2);
      margin-top: -3px;
    }
  }
  /* Buttons ideas - SVG
  cspell: ignore Themesberg flowbite
  https://icones.js.org/collection/flowbite
  <symbol viewBox="0 0 24 24" id="flowbite-backward-step-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 6v12m8-12v12l-8-6z"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-play-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 18V6l8 6z"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-pause-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 6H8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1m7 0h-1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-stop-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><rect width="12" height="12" x="6" y="6" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" rx="1"></rect></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-forward-step-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 6v12M8 6v12l8-6z"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-folder-open-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 19V6a1 1 0 0 1 1-1h4.032a1 1 0 0 1 .768.36l1.9 2.28a1 1 0 0 0 .768.36H16a1 1 0 0 1 1 1v1M3 19l3-8h15l-3 8z"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-list-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5"></path></symbol>
  <symbol viewBox="0 0 24 24" id="flowbite-volume-up-outline"><!-- Icon from Flowbite Icons by Themesberg - https://github.com/themesberg/flowbite-icons/blob/main/LICENSE --><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.5 8.43A5 5 0 0 1 17 12a4.98 4.98 0 0 1-1.43 3.5m2.794 2.864A8.97 8.97 0 0 0 21 12a8.97 8.97 0 0 0-2.636-6.364M12 6.135v11.73a1 1 0 0 1-1.64.768L6 15H4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h2l4.36-3.633a1 1 0 0 1 1.64.768"></path></symbol>
  */
}
